{% extends "base.html" %}
{% load octicons %}

{% block topics %}
  <ul class="nav nav-pills justify-content-center topicnav">
  {% for topic in topics %}
  <li class="nav-item">
    <a class="nav-link text-success" href="{% url 'topic_posts' topic_id=topic.id %}">{{ topic.topic_name }}</a>
  </li>
   {% endfor %}
  </ul>
{% endblock %}

{% block content %}
<div class="post post_content">
  <div class="sort_bar" >
    <div class="row">
      <!-- <div class="col-7 search_bar">
        <div class="input-group">

          <input class="form-control py-2 border-right-0 border" type="text" name='keyword' id="example-search-input">
          <span class="input-group-append">
            <button class="btn btn-outline-secondary border-left-0 border" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span> &nbsp;

      </div>
      </div> -->


      <div class="col-7">
          <form class="input-group search" action="/" method="GET">
            <input type="text" name="query" value="" placeholder="Search" aria-label="Search">
            <span class="input-group-append">
              <button class="btn btn-outline-secondary border-left-0 border" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </span>
          </form>
      </div>
      <div class="col-3">
        <form method="GET" action="{% url 'index' %}" style="display: inline-block;">
          <button type="submit" class="btn" value={{orderby}} name="orderby"><i class="fas fa-sort-amount-up"></i></button>
        </form>
        <form method="GET" action="{% url 'index' %}" style="display: inline-block;">
          <button type="submit" class="btn" value={{orderby}} name="d_orderby"><i class="fas fa-sort-amount-down"></i></button>
        </form>
      </div>
    </div>
  </div>
  <hr>
{% if posts %}
  {% for post in posts %}
      <a href="{% url 'post_detail' pk=post.pk %}" class="text-dark" style="font-weight:bold;"><h5>{{ post.title }}</h5></a>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="{% url 'topic_posts' topic_id=post.topic_name.id %}" class="text-success" style="font-weight:bold;">{{post.topic_name}}</a> &nbsp;
        </li>
        {% for tag in post.tag_name.all %}
        <li class="list-inline-item">
          <a href="{% url 'tag_posts' tag_id=tag.id %}" class="text-success">#{{tag.tag_name}}</a> &nbsp;
        </li>
        {% endfor %}
        <li class="list-inline-item text-secondary" >{{ post.published_date|date:'d m Y' }}</li>
      </ul>
        <hr id="posthr">
    {% endfor %}
</div>
<br>
{% if is_paginated %}
      <div class="pagination">

              {% if page_obj.has_previous %}
                {% if query %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}&query={{query}}">
                    <b class="text-success"><</b>
                  </a>
                  {% else %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                    <b class="text-success"><</b>
                  </a>
                  {% endif %}
              {% endif %}

              <span class="page-current">
                  &nbsp; {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} &nbsp;
              </span>
              {% if page_obj.has_next %}
                {% if query %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}&query={{query}}">
                    <b class="text-success">></b>
                  </a>
                  {% else %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                    <b class="text-success">></b>
                  </a>
                {% endif %}
              {% endif %}


      </div>

    {% endif %}
        {% else %}
        <center>
          <h4 style="white-space: pre;"> No Post </h4>
          <h3>Please check out others.</h3>
          <a class="btn btn-success btn-lg" href="{% url 'index' %}" role="button">HOME</a>
        </center>
{% endif %}
{% endblock %}


{% block tags %}
<nav class="nav flex-column">
  {% for tag in tags %}
<a class="nav-link active text-success" href="{% url 'tag_posts' tag_id=tag.id %}">#{{tag.tag_name}}</a>
{% endfor %}
</nav>
{% endblock %}
