<iframe src="https://open.spotify.com/embed/track/6MLptqfOLeV8uwAqwXaZ1v" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<style>
    .greenText
    {
        color:#030707;
        font-weight:bold;
    }
    .yellowText
    {
        color:#00660d;

    }
</style>

<span class="redText">My Name is:&nbsp;<span class="blackText">Tintincute</span></span>
<span class ='greenText'>P</span><span class="yellowText">ython</span><span class ='greenText'>S</span><span class="yellowText">hare</span><span class ='greenText'>N</span><span class="yellowText">ote</span>
